.calendarWrap {
  position: relative;
}

.mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.navigation {
  background-color: transparent;
  min-width: auto;
}

.navigation p:first-child {
  font-size: 14px;
  font-family: Roboto Bold;
}

.navigation p:last-child {
  font-size: 10px;
  font-family: Roboto Bold;
  color: rgba(69, 179, 105, 1);
}

.calendar {
  height: 100%;
  padding: 16px 0;
  border: 1px solid rgba(243, 244, 246, 1);
  background: rgba(249, 250, 251, 1);
  border-radius: 10px;
  transition: all 0.1s ease;
  height: 350px;
}

.calendar :global(.react-calendar__navigation__arrow) {
  margin-right: 10px;
  margin-left: 10px;
  min-width: auto !important;
}

.calendar abbr {
  text-decoration: none !important;
}

.calendar button abbr {
  display: none;
}

.calendar .calendarTile {
  border-radius: 7px !important;
  background-color: transparent !important;
  padding: 0 !important;
  height: 44px !important;
  flex: none !important;
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
}


.calendar button > div {
  width: calc(100% - 3px);
  height: calc(100% - 2px);
  border-radius: 7px;
  padding: 3px 0;
  color: #000;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activeDate {
  background-color: rgba(69, 179, 105, 1) !important;
  color: #fff !important;
}

.date {
  /* font-size: 18px; */
}

.num {
  font-size: 10px;
  line-height: 15px;
}

.yearCalendar {
  height: 250px;
  transition: all 0.1s ease;
}

.yearCalendar .calendarTile {
  height: 50px !important;
  padding: 0 !important;
  flex: none !important;
  width: calc(100% / 4);
}

.nextBtn {
  transform: rotate(180deg);
  margin-right: 0;
}

.num {
  font-size: 10px;
  font-family: Roboto Bold;
  width: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
}

.profitDate {
  background: rgba(218, 240, 225, 1) !important;
}

.profitDate .num {
  color: rgba(69, 179, 105, 1);
}

.noProfitDate {
  background: rgba(235, 236, 239, 1) !important;
}

.noProfitDate .num {
  color: rgba(156, 163, 175, 1);
}

.lossProfitDate {
  background: rgba(235, 236, 239, 1) !important;
}

.lossProfitDate .num {
  color: rgba(239, 71, 112, 1);
}

.preMonth {
  color: rgba(224, 225, 226, 1) !important;
}

.viewWrap {
  position: absolute;
  display: flex;
  top: 25px;
  right: 50px;
}

.viewWrap p {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: 0.6px solid rgba(235, 236, 239, 1);
  color: rgba(107, 114, 128, 1);
  font-size: 10px;
  font-family: Roboto Bold;
}

.viewWrap .viewActive {
  background: rgba(156, 163, 175, 1);
  color: #fff;
}

/* 
.calendar :global(.react-calendar__tile--active) {
  background: rgba(69, 179, 105, 1) !important;
  color: #fff !important;
}

.calendar :global(.react-calendar__tile--hasActive),
.calendar :global(.react-calendar__tile--hasActive) abbr {
  background: rgba(69, 179, 105, 1) !important;
  color: #fff !important;
} */
