.portfolioList {
  margin-top: 16px;
  display: flex;
  overflow: auto;
}
.portfolioWrap {
  margin-top: 24px;
}
.title {
  font-size: 16px;
  font-family: Roboto Bold;
  color: rgba(17, 24, 39, 1);
}
.title  span{
  font-family: Roboto;
}

.portfolioItem {
  position: relative;
  display: flex;
  margin-right: 16px;
  padding: 14px 16px;
  border: 1px solid rgba(243, 244, 246, 1);
  background: rgba(249, 250, 251, 1);
  border-radius: 12px;
  min-height: 134px;
}
.skeleton {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 12px;
  min-width: 240px;
}
.activityDetail {
  flex: 1;
}

.detailName {
  display: flex;
}

.detailName img {
  margin-right: 12px;
  width: 32px;
  height: 32px;
}
.nameInfo p:first-child {
  color: rgba(17, 24, 39, 1);
  font-size: 12px;
  font-family: Roboto Bold;
  white-space: nowrap;
}
.nameInfo p:last-child {
  color: rgba(107, 114, 128, 1);
  font-size: 12px;
  font-weight: 400;
}
.money {
  margin-top: 20px;
  color: rgba(17, 24, 39, 1);
  font-size: 20px;
  font-weight: 700;
  font-family: Roboto Bold;
}
.profit {
  margin-top: 2px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: rgba(69, 179, 105, 1);
}
.profit svg {
  margin-right: 4px;
  width: 12px;
  height: 12px;
}

.portfolioChart {
  align-self: flex-end;
  margin-left: 15px;
  /* background-color: antiquewhite; */
}

.line {
  height: 90px;
  width: 100px;
}

.lineSkeleton {
  height: 90px;
}