.wrap {
  /* background: rgba(17, 24, 39, 1); */
}

.title {
  font-family: Roboto Bold;
  color: #fff;
  background: rgba(17, 24, 39, 1);
  padding: 56px 0 78px 40px;
}
.name {
  font-size: 18px;
}
.desc {
  font-size: 14px;
  font-family: Roboto;
  color: rgba(162, 182, 185, 1);
}
.allMoney {
  font-size: 32px;
  font-family: Roboto Bold;
}
.action {
  padding: 0 8px;
  height: 97px;
  box-shadow: 0px 10px 50px 0px rgba(75, 85, 99, 0.04);
  border-radius: 10px;
  background: #fff;
  position: absolute;
  top: 168px;
  left: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.actionItem {
  text-align: center;
  color: rgba(107, 114, 128, 1);
  font-size: 12px;
}
.actionItem img {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-bottom: 6px;
}
.line {
  border: 1px solid rgba(235, 236, 239, 1);
  height: 40px;
  width: 1px;
}
.bottom {
  background: #fff;
  /* height: 900px; */
  padding: 70px 24px 0 24px;
}

.mainTitle {
  font-size: 16px;
  font-family: Roboto Bold;
  margin-bottom: 4px;
}
.investItem {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid rgba(243, 244, 246, 1);
  background: rgba(249, 250, 251, 1);
  border-radius: 12px;
}
.topInfo {
  display: flex;
}

.itemImage {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.itemRight {
  width: calc(100% - 84px);
  flex: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.itemName {
  font-size: 14px;
  font-family: Roboto Bold;
}

.itemDetail {
  flex: 1;
  width: calc(70%);
  margin-right: 10px;
}
.desc {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(162, 182, 185, 1);
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100%);
}
.status {
  font-size: 14px;
  font-weight: 700;
}

.type {
  margin-top: 4px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: rgba(69, 179, 105, 1);
  font-family: Roboto Bold;
}

.money {
  font-size: 14px;
  font-family: Roboto Bold;
}
.Hline {
  background: rgba(235, 236, 239, 1);
  height: 1px;
  width: 100%;
  margin: 16px 0 12px 0;
}
.infoTitle,
.infoNum {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoNum {
  margin-top: 4px;
}
.infoTitle p {
  color: rgba(107, 114, 128, 1);
  font-size: 12px;
}
.infoNum p {
  font-family: Roboto Bold;
  font-size: 16px;
}
.infoNum p:last-child {
  color: rgba(69, 179, 105, 1);
}
.balance {
  margin-top: 16px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid rgba(243, 244, 246, 1);
  background: rgba(249, 250, 251, 1);

}
.balance .infoNum p{
  color: #000;
}

.logout {
  margin: 20px 24px 0 24px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid var(--Error-200, rgba(252, 218, 226, 1));
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(239, 71, 112, 1);
  font-size: 14px;
  font-weight: 700;

}