@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("./fonts/Roboto-Thin.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto";
}

.global-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.loading {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  /* border-bottom-color: rgba(0, 0, 0, 0.2); */
  border-radius: 100%;
  animation: circle infinite 2s linear;
  margin-right: 10px;
}


@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}