.wrap {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  
}

.googleBtn,
.emailBtn,
.createBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 53px;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  height: 44px;
  cursor: pointer;
  font-style: italic;
  font-family: Roboto Bold;
}

.googleBtn:hover,
.emailBtn:hover,
.createBtn:hover {
  background: #f56b46;
  color: #fff;
  border: 1px solid #f56b46;
}

.googleBtn svg {
  margin-right: 10px;
}

.googleBtn,
.createBtn {
  color: white;
  background-color: black;
  border: 1px solid black;
}

.emailBtn {
  color: black;
  background-color: white;
  border: 1px solid #cdcdcd;
  vertical-align: text-bottom;
}

.divider {
  margin: 20px;
  display: flex;
  align-items: center;
  color: #230b13;
  font-size: 14px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider::before {
  margin-right: 20px;
}

.divider::after {
  margin-left: 20px;
}

.terms {
  text-align: center;
  margin: 20px 20px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
}

.terms a {
  text-decoration: underline;
  
}
.terms a:hover {
  opacity: 0.8;
}

.inputWrap {
  margin-bottom: 20px;
  height: 100%;
  display: flex;
  height: 34px;
}

.input {
  flex: 1;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  color: #000;
  line-height: 24px;
  outline: none;
  border: 0px;
  padding: 4px 20px;
  line-height: 26px;
  font-style: italic;
}

.successText {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.successText span {
  color: #f56b46;
}
