.wrap {
  padding: 16px 24px 80px 24px;
  position: relative;
  overflow: auto;
}

.info {
  margin-bottom: 14px;
}
.name {
  font-size: 18px;
  font-family: Roboto Bold;
}
.welcome {
  margin-top: 2px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(156, 163, 175, 1);
}
.exploreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  height: 48px;
  background: rgba(31, 41, 55, 1);
  border-radius: 12px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
.exploreBtn svg {
  margin-right: 8px;
  width: 17px;
  height: 17px;
}
.skeleton {
  margin-top: 16px;
  height: 48px;
  border-radius: 12px;
}
