.partialWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  opacity: 0.8;
  width: 32px;
  height: 32px;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.desc {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #fff;
}


.loading {
  position: relative;
  width: 40px;
  height: 40px;
  border: 5px solid #fff;
  border-top-color: rgba(152, 157, 163, 0.2);
  border-right-color: rgba(152, 157, 163, 0.2);
  border-bottom-color: rgba(152, 157, 163, 0.2);
  border-radius: 100%;
  animation: circle infinite 2s linear;
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}