.partialWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  opacity: 0.8;
  width: 32px;
  height: 32px;
}

.loading {
  display: flex;
  flex-direction: column;
}

.desc {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #fff;
}
