.wrap {
  padding: 160px 24px 42px 24px;
}

.logo .img {
  width: 150px;
  height: 150px;
  display: flex;
  margin: auto;
}
.title {
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
  font-family: Roboto Bold;
}
.desc {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: rgba(107, 114, 128, 1);
  letter-spacing: 0.2px;
  line-height: 22px;
}
.button {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: rgba(31, 41, 55, 1);

  height: 56px;
  border: 1px solid rgba(243, 244, 246, 1);
  border-radius: 12px;
  font-family: Roboto Bold;
}
.btnSkeleton {
  margin-top: 16px;
  height: 56px;
}
.icon {
  margin-right: 12px;
  width: 22px;
  height: 22px;
}
.info {
  position: fixed;
  bottom: 40px;
  color: rgba(107, 114, 128, 1);
  font-size: 16px;
  font-weight: 700;
  width: calc(100% - 48px);
}
.info span {
  color: rgba(69, 179, 105, 1);
  font-family: Roboto Bold;
}
.info div {
  width: 100%;
  text-align: center;
}

.codeWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  padding: 16px 22px;
  opacity: 0;
  z-index: -1;
}
.show {
  opacity: 1;
  z-index: 1;
}

.back {
  margin-bottom: 16px;
}
.codeTitle {
  margin-top: 16px;
  font-size: 24px;
  font-family: Roboto Bold;
}
.codeDesc {
  margin-top: 12px;
  color: rgba(107, 114, 128, 1);
  font-size: 16px;
}

.codeBox {
  justify-content: space-evenly;
}
.codeInput {
  margin-top: 30px;
  width: calc((100% - 50px) / 6) !important;
  padding: 10px 0;
  font-size: 20px;
  background: rgba(249, 250, 251, 1);
  border-radius: 10px !important;
  /* outline: none; */
  font-family: Roboto Bold;
}
.codeInput:focus {
  outline: 0.8px solid rgba(22, 73, 81, 1) !important;
  border-radius: 10px !important;
}
.codeInput:hover {
  border-radius: 10px !important;
}
.confirm {
  margin-top: 160px;
  height: 56px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: Roboto Bold;
  background: rgba(31, 41, 55, 1);
  color: #fff;
}
