
.navigation {
  background-color: transparent;
}
.navigation p:first-child {
  font-size: 14px;
  font-family: Roboto Bold;

}
.navigation p:last-child {
  font-size: 10px;
  font-family: Roboto Bold;
  color: rgba(69, 179, 105, 1);
  

}
.calendar {
  margin-top: 16px;
  padding: 16px 0;
  border: 1px solid rgba(243, 244, 246, 1);
  background: rgba(249, 250, 251, 1);
  border-radius: 10px;

}
.calendar :global(.react-calendar__tile) {
  border-radius: 7px;
  background: rgba(218, 240, 225, 1) !important;
  margin: 1px 3px;
  width: 44px;
  height: 44px;
  padding: 3px 0;
  color: #000;
  font-weight: 600;
  flex-basis: calc((100% - 24px) / 7) !important;
}
.calendar .calendarTile:nth-child(7n) {
  margin-right: 0;
}

.calendar :global(.react-calendar__tile--active) {
  background: rgba(69, 179, 105, 1) !important;
  color: #fff;


}

.dateData {

}
.num {
  font-size: 10px;
  font-family: Roboto Bold;
  width: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}